body {
    height:100vh;
    width:100vw;
    align-items: flex-start;
}

body.dark {
    background-color: #353430;
}

.toolbar {
    background-color:lightblue;
    //height: 75px;
    height: 5.7vh;
    width: auto;
}

.toolbar.dark {
    background-color: #a58d0e;
}

#createValues {
    //margin-left: 10px;
    margin-left: 0.4vw;
    //margin-right: 20px;
    margin-right: 0.8vw;
    //margin-top: 20px;
    margin-top: 0.8vh;
    display: inline-block;
    cursor: pointer;
}

#arraySize {
    display: inline-block;
    margin-left: 0.4vw;
    //margin-right: 20px;
    margin-right: 0.8vw;
    //margin-top: 20px;
    margin-top: 0.8vh;
    cursor: pointer;
}

#valRange {
    //margin-right: 20px;
    margin-right: 0.8vw;
    direction: rtl;
}

#speedContainer {
    display: inline-block;
    margin-left: 0.4vw;
    //margin-right: 20px;
    margin-right: 0.8vw;
    //margin-top: 20px;
    margin-top: 0.8vh;
}

.sliderlight {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    background: transparent;
    opacity: 0.8;
    outline: none;
    //margin-left: 10px;
    margin-left: 0.4vw;
    //margin-right: 20px;
    margin-right: 0.8vw;
    -webkit-transition: .2s;
    transition: opacity .2s;

    &::-webkit-slider-runnable-track {
        width: auto;
        //height: 5px;
        height: 0.3vh;
        background: #9b9696;
        border: none;
        border-radius: 3px;
    }

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 25px;
        height:25px;
        //width: 1vw;
        //height: 2vh;
        border-radius: 50%;
        margin-top: -10px;
        //margin-top: -0.8vh;
        background-color: rgb(107, 199, 230);
        cursor: pointer;
    }

    &::-moz-range-track {
        width: auto;
        height: 5px;
        background: #9b9696;
        border: none;
        border-radius: 3px;
    }

    &::-moz-range-thumb {
        border-radius: 50%;
        width: 25px;
        height:25px;
        background-color: rgb(107, 199, 230);
        cursor: pointer;
    }

    &:hover {
        opacity: 1;
    }
}

.sliderdark {
    -webkit-appearance: none;  /* Override default CSS styles */
    //margin-left: 10px;
    margin-left: 0.4vw;
    //margin-right: 20px;
    margin-right: 0.8vw;
    background: transparent;
    opacity: 0.8;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;

    &::-webkit-slider-runnable-track {
        width: auto;
        height: 5px;
        background: #c7c0c0;
        border: none;
        border-radius: 3px;
    }

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 25px;
        height:25px;
        border-radius: 50%;
        margin-top: -10px;
        background-color: #eece2c;
        cursor: pointer;
    }

    &::-moz-range-track {
        width: auto;
        height: 5px;
        background: #c7c0c0;
        border: none;
        border-radius: 3px;
    }

    &::-moz-range-thumb {
        border-radius: 50%;
        width: 25px;
        height:25px;
        background-color: #eece2c;
        cursor: pointer;
    }

    &:hover{
        opacity: 1;
    }
}

#mergeSort {
    display: inline-block;
    margin-left: 0.4vw;
    //margin-right: 20px;
    margin-right: 0.8vw;
    //margin-top: 20px;
    margin-top: 0.8vh;
    cursor: pointer;
}

#quickSortLR {
    display: inline-block;
    margin-left: 0.4vw;
    //margin-right: 20px;
    margin-right: 0.8vw;
    //margin-top: 20px;
    margin-top: 0.8vh;
    cursor: pointer;
}

#quickSortLL {
    display: inline-block;
    margin-left: 0.4vw;
    //margin-right: 20px;
    margin-right: 0.8vw;
    //margin-top: 20px;
    margin-top: 0.8vh;
    cursor: pointer;
}

#theme {
    //display: inline-block;
    float: right;
    margin-left: 0.4vw;
    //margin-right: 20px;
    margin-right: 0.8vw;
    //margin-top: 20px;
    margin-top: 0.8vh;
    cursor: pointer;
}


.bar{
    background-color: red;
    width: 0.4vw;
    margin-left: 0.2vw;
    display: inline-block;
    bottom: 0vh;
}

.bar.dark {
    background-color: #c7c4b4;
}

.bar.access {
    background-color: blue !important;
}

.bar.complete {
    background-color: green !important;
}

//margin: 150px auto auto 15%;
//min-height: 1000px;
.visual {
    height: 60vh;
    position: absolute;
    display: inline-flex;
    align-items: flex-end;
    margin: 15vh auto auto 20vw;
    width: 70vw;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: scale(1.2);
    transform-origin: center;
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
}